html {
    overflow-x: hidden;
    font-family: "Yantramanav", sans-serif;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    font-family: "Yantramanav", sans-serif;
    font-family: "Poppins", sans-serif;
}