.EnvInfo {
    background-image: url(../Images/EnvInfoBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.handleImage {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    transform: scale(0.99);
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px black;
}

.handleImage:hover {
    transform: scale(1.02);
}